In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import datetime

In [19]:
incidents_df = pd.read_csv("data/Police_Incidents_Since_1988.csv")

C:\Users\jlivs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
# pd.set_option('display.max_columns', None)

incidents_df.head()

,INCIDENT,DATE OCCURRED,TIME OCCURRED,YEAR OCCURRED,MONTH OCCURRED,DATE REPORTED,TIME REPORTED,DATE ARRIVED,TIME ARRIVED,GEO CODE,...,WEAPONS CODE 2,WEAPON 2 DESCRIPTION,WEAPONS CODE 3,WEAPON 3 DESCRIPTION,BIAS CODE,BIAS DESCRIPTION,STATUS CODE,STATUS DESCRIPTION,COUNTER,MAPPING ADDRESS
0,U20-03776,08/27/2020,14:52,2020,8,08/27/2020,14:52,08/27/2020,00:00,576-06,...,NaN,NaN,NaN,NaN,88.0,NONE,9.0,ADMINISTRATIVELY CLOSED,1,"800 GROVE ST\nURBANA, IL"
1,U19-02945,06/18/2019,18:58,2019,6,06/18/2019,18:58,06/18/2019,19:12,546-15,...,NaN,NaN,NaN,NaN,88.0,NONE,3.0,CLEARED BY ADULT ARREST,1,"0 RACE N\nURBANA, IL"
2,U20-03799,08/28/2020,15:45,2020,8,08/28/2020,15:45,08/28/2020,15:52,546-11,...,NaN,NaN,NaN,NaN,88.0,NONE,9.0,ADMINISTRATIVELY CLOSED,1,"400 UNIVERSITY AV W\nURBANA, IL\n(40.116511, -..."
3,U93-01386,03/15/1993,06:17,1993,3,03/15/1993,06:30,03/15/1993,06:30,547-11,...,NaN,NaN,NaN,NaN,0.0,NaN,3.0,CLEARED BY ADULT ARREST,1,"400 E MAIN ST\nURBANA, IL\n(40.112553, -88.203..."
4,U20-03321,08/01/2020,09:29,2020,8,08/01/2020,09:29,08/01/2020,09:29,548-10,...,NaN,NaN,NaN,NaN,88.0,NONE,9.0,ADMINISTRATIVELY CLOSED,1,"0 UNIVERSITY\nURBANA, IL"

In [119]:
length = len(incidents_df)
latitude = [0] * length
longitude = [0] * length

for index, value in incidents_df['MAPPING ADDRESS'].items():
    if index==100:
        break
    value = str(value)
    left_ind = value.find('(')
    mid_ind = value.find(',', left_ind)
    right_ind = value.find(')')
#     print(left_ind, mid_ind, right_ind)
    if left_ind!=-1:# diego's code
        latitude[index] = float(value[left_ind+1: mid_ind])
        longitude[index] = float(value[mid_ind+1:right_ind])
incidents_df['LATITUDE'] = latitude
incidents_df['LONGITUDE'] = longitude

pd.set_option('display.max_rows', None)

# incidents_df.head()

1