In [7]:
import numpy as np
import pandas

In [11]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [2, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

In [12]:
myvar

    cars  passings
0    BMW         2
1  Volvo         7
2   Ford         2